    
   /* @media  screen and (min-width: 600px) {
    body {
      margin-left: 25%
        }
   } */
    
    .box{
        width: 57%;
        height: auto;
        
        margin: auto;
       }
    .iconlocation{
        border: 1px solid white;
        width: 35px;
        height: 35px;
        display: inline-block;
        vertical-align: top;
        margin-top: 28px;
        margin-left: 50px;
    }
    .iconsrc{
        border: 1px solid white;
        width: 35px;
        height: 35px;
        display: inline-block;
        vertical-align: top;
        margin-top: 28px;
        margin-left: 10px;
    }
    .inputData input{
        display: inline-block;
        vertical-align: top;
        width: 78%;
        height: 50px;
        border: 1px solid lightgray;
        font-size: 20px;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
    }
    .week{
        display: flex;
        margin-top: 20px;
        overflow-x: scroll;
        width: 800px;
        
    }
   .one{
    
    height: 170px;
   
    font-size: 15px;
   
    text-align: center;
    font-weight: bold;
   }
   #max{
    text-align: left;
    display: inline-block;
   }
   #min{
    text-align: right;
    display: inline-block;
   }
   :hover.one{
    border: 5px solid lightblue;
    box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
   }
   